



.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
    height: 100vh;
    background-image: url('./bgvdo/spardha.jpg');
    background-size: cover;
}
.signup form{
   width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: grey;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.signup span{
    align-self: center;
    margin: 2vh 5vw 2vh 5vw;
    font-size: 2rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.signup div{
    margin: 2vh 5vw 2vh 5vw;
    display: flex;
   
}
.btn{
    width: fit-content;
    align-self: center;
    margin: 3vh 5vw 3vh 5vw;
   }
   .btn:hover{color: white;}
.lock{
    height: 20px;
    margin-top: -1vh;
}
.loginlnk{
    align-self: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}